/* Member body css  */
.member_body {
    width: 100%;
    height: auto;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

a:hover {
    text-decoration: none;
}

/* Sub menubar css */
.sub_menu {
    width: 90%;
    margin: 0 0 2% 9%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sub_menu .sub_menu_button {
    color: rgb(255, 246, 235);
    width: 20%;
    height: auto;
    text-align: center;
    background-color: rgb(6, 129, 119);
    margin: 0 3% 0 0;
    border-radius: 5px;
    transition: all .5s;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.sub_menu .sub_menu_button:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Sub menubar button css */
.topic {
    color: rgb(255, 246, 235);
    width: 25%;
    height: auto;
    text-align: center;
    margin: 0 0 0 37%;
    background-color: rgb(0, 58, 58);
    border-radius: 50px;
    border-color: black;
    border-style: dashed;
    cursor: pointer;
    transition: all .5s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#recruitment,
#benefits {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.description {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-size: large;
}

.advisor,
.convener {
    width: 90%;
    margin: auto;
    text-align: center;
}


.advisor h3,
.convener h3,
.Member_list h3 {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vw;
    padding-top: 1.10%;

}

#Committee_Member {
    background-image: url("../image/member.jpg");
    background-color: rgba(0, 0, 0, 0.884);
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 2%;
}

.Member_list {
    width: 60%;
    margin-left: 20%;
}

.Member_list table {
    text-align: center;
    width: 100%;
    height: auto;
    border: solid whitesmoke;
    font-size: large;
}

.Member_list table tr td,
.Member_list table tr,
.Member_list table tr th {
    width: auto;
    padding: 2%;
}

.point-out {
    width: 90%;
    height: auto;
    margin-left: 5%;
    text-align: justify;
}

.point-out p {
    width: 95%;
    margin-left: 2.5%;
}

.table table {
    border: solid rgb(1, 83, 83);
    color: black;
}