.welcome {
    width: 100vh;
    height: 95vh !important;
    transition: all 1s !important;
    -webkit-transition: all 1s !important;
    -moz-transition: all 1s !important;
    -ms-transition: all 1s !important;
    -o-transition: all 1s !important;
}

.welcome h2 {
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: black;
    color: rgb(105, 248, 188);
    padding: 1.5%;
    margin-bottom: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.welcome img {
    width: 40px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#main {
    transition: ease-in 1s !important;
    -webkit-transition: ease-in 1s !important;
    -moz-transition: ease-in 1s !important;
    -ms-transition: ease-in 1s !important;
    -o-transition: ease-in 1s !important;
}

main {
    background-color: rgba(0, 41, 29, 0.877);
    padding-bottom: 7vh;
    padding-top: 5vh;
}

.body {
    width: 100%;
    text-align: center;
}

.logo img {
    width: 200px;
    height: 200px;
    margin: .5% 0 2% 0;
    border-radius: 400px;
    transition: all .5s;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.logo img:hover {
    margin: 2% 0 3% 0;
    box-shadow: teal 0px 0px 20px 0px;
    transform: scale(1.1);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

button {
    padding: 15px;
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    transition: all .5s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

button:hover {
    box-shadow: rgb(99, 255, 27) 0px 0px 5px 0px;
    transform: scale(.90);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transform: scale(.90);
    -moz-transform: scale(.90);
    -ms-transform: scale(.90);
    -o-transform: scale(.90);
}